/* ==========================================
   Nama File: style.css
   Deskripsi: Styling halaman web
   Penulis:   Fawwaz Yaqzhan
   Tanggal:   25-04-2026
   ========================================== */

