<!--
  Nama File: index.html
  Deskripsi: Halaman Dashboard
  Penulis:   Fawwaz Yaqzhan
  Tanggal:   25-04-2026
-->

{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block header_title %}Dashboard Utama{% endblock %}

{% block content %}
    <div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);">
        <h3>Selamat Datang di Panel Kendali</h3>
        <p>Gunakan menu di sebelah kiri untuk menavigasi aplikasi Anda.</p>
    </div>
{% endblock %}
